@import "tailwindcss";


.jodit-wysiwyg ul {
  list-style: disc;
  padding-left: 20px;
}

.jodit-wysiwyg ol {
  list-style: decimal;
  padding-left: 20px;
}

.jodit-wysiwyg ul ul {
  list-style: circle;
}

.jodit-wysiwyg ul ul ul {
  list-style: square;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.blueprint-bg {
  background-color: #fff;
  background-image:
    linear-gradient(rgba(6, 8, 6, 0.05) 1px, transparent 2px),
    linear-gradient(90deg, rgba(1, 2, 1, 0.05) 1px, transparent 1px);
  background-size: 50px 50px;
}

.jodit-content {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.jodit-content ul {
  list-style-type: disc;
  /* or circle, square */
  margin-left: 20px;
  padding-left: 20px;
}

.jodit-content ol {
  list-style-type: decimal;
  margin-left: 20px;
  padding-left: 20px;
}

.jodit-content li {
  margin: 5px 0;
}